.menus {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #d2dae2;
    box-shadow: 3px 3px 3px #d2dae2;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .menus .menus__menu {
    list-style: none;
  }
  
  .menus .menus__menu a {
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    color: #747d8c;
    font-weight: 600;
    transition: 0.5s;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .menus .menus__menu a:hover {
    color: #0b0b0b;
  }
  